<div class="component">
  <h2>Fake Users List <a href="https://users-my-api.monacodelisa.com/" target="_blank" rel="noopener noreferrer">[ Sample Display ]</a></h2>
  <p class="lightgray">response:</p>
  <div class="json">
    <div class="users-list">
      <p class="orange">{{ '[' }}</p>
      @for (user of users; track user.id) {
      <div class="data">
        <p class="white">{{ '{' }}</p>
        <div class="data-info">
          <p class="white">"id":<span class="blue"> "{{ user.id }}"</span> </p>
          <p class="white">"name":<span class="green"> "{{ user.name }}"</span></p>
          <p class="white">"email":<span class="green"> "{{ user.email }}"</span> </p>
          <p class="white">"occupation":<span class="green"> "{{ user.occupation }}"</span> </p>
          <p class="white">"imgSrc":<span class="green"> "{{ user.imgSrc }}"</span></p>
          <p class="white">"active":<span class="green"> "{{ user.active }}"</span></p>
        </div>
        <p class="white">{{ '}' }}{{','}}</p>
      </div>
      }
      <p class="orange">{{ ']' }}</p>
    </div>
  </div>
</div>
