.component {
  .json {
    height: 65vh;
    padding: 1.2rem 2.2rem 2rem;

    &::before {
      display: none;
    }

    h2 {
      font-family: 'Sometype Mono', monospace;
      font-weight: bold;
      margin: 0.5rem 0 0;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }

    ul {
      margin-bottom: 1.3rem;

      li {
        font-size: 0.9rem;
        line-height: 1.5rem;

        span {
          font-weight: bold;
        }
      }
    }

    small {
      color: #009f00;
    }
  }
}
