<div class="component">
  <h2>Developers List <a href="https://webdevremote.netlify.app/developers" target="_blank" rel="noopener noreferrer">[ Sample Display ]</a></h2>
  <div class="endpoint">
    <p class="lightgray">endpoint:</p>
    <p class="url" (click)="copyUrl()">https://monacodelisa-node-express.cyclic.app/api/devs</p>
    <p class="green copied-message">Copied</p>
  </div>
  <p class="lightgray">response:</p>
  <div class="json">
    <div class="developers-list">
      <p class="orange">{{ '[' }}</p>
      @for (developer of developers; track developer.id) {
      <div class="data">
        <p class="white">{{ '{' }}</p>
        <div class="data-info">
          <p class="white">"id":<span class="blue"> "{{ developer.id }}"</span> </p>
          <p class="white">"name":<span class="green"> "{{ developer.name }}"</span></p>
          <p class="white">"email":<span class="green"> "{{ developer.email }}"</span> </p>
          <p class="white">"strength":<span class="green"> "{{ developer.strength }}"</span> </p>
          <p class="white">"weakness":<span class="green"> "{{ developer.weakness }}"</span> </p>
        </div>
        <p class="white">{{ '}' }}{{','}}</p>
      </div>
      }
      <p class="orange">{{ ']' }}</p>
    </div>
  </div>
</div>

